<footer>

    <div class="ft-links">
        <ul>
            <li> <a href="">Privacy</a></li>
            <li> <a href="">Terms</a></li>
            <li> <a href="">Companey details</a></li>
        </ul>
    </div>
    <div class="ft-copyright">
        <h7><i class="ri-copyright-line"></i>
        2026 Airbnb, Inc.
        </h7>
    </div>
    <div class="ft-social">
        <a href=""><i class="ri-facebook-line"></i></a>
        <a href=""><i class="ri-twitter-x-line"></i></a>
        <a href=""><i class="ri-instagram-line"></i></a>
    </div>
 
</footer>